.badge{
    color: black;
}

a.active{
    background-color: red;
}
a{
    text-decoration: none !important;
}

   
    li:hover{
        border: 1px solid !important;
        background-color: orange !important;
        border-radius: 4% !important;
    }

.list-group-item{
    border: none !important;
    background-color:#9f9d9954 !important;
}