.badge{
    color: black;
}

a.active{
    background-color: red;
}
a{
    text-decoration: none !important;
}
li:hover{
    background-color: orange;
}
.list-group-item{
    border: none !important;
    background-color:#9f9d9954 !important;
}