<app-menu>
    <div class="container-fluid col-md-12 row mt-4 mb-3">
        <div class="col-md-8">
          <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Tableau de bord</a></li>
              <li class="breadcrumb-item active" aria-current="page">
               Administration
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                Operation
               </li>
               <li class="breadcrumb-item active" aria-current="page">
                Créer un entrepot
               </li>
            </ol>
          </nav>
        </div>
        <div class=" col-md-4 d-flex justify-content-end ">
          <button type="submit" class="btn btn-secondary d-flex p-2 w-80 " routerLink="/entrepots">  <mat-icon>navigate_before</mat-icon> Precedent</button>
        </div>
      </div>
  <div class="container-fluid creation p-4">
    <div>
      <p>Creer un entrepot</p>
    </div>
    <div>
      <form action="" [formGroup]="entrepots">
        <div class="row">
          <div class="col-md-6 mb-3 p-3">
            <label for="">Libelle</label>
            <div class="col-md-12">
              <select class="form-select" aria-label="Default select example"  formControlName="libelle">
                <option selected>Open this select menu</option>
                <option value="Accp">Accp</option>
                <option value="Yop">Yop</option>
                <option value="ACCD">Accd</option>
              </select>
            </div>
          </div>
          <div class="col-md-6 mb-3 p-3">
            <label for="">Longitude</label>
            <div class="col-md-12">
              <input  class="w-100 input-group-text" type="number" name="" formControlName="longitude" />
            </div>
          </div>
          <div class="col-md-6 mb-3 p-3">
            <label for="">Superficie (m²)</label>
            <div class="col-md-12">
              <input  class="w-100 input-group-text" type="number" name=""  formControlName="superficie" />
            </div>
          </div>
          <div class="col-md-6 mb-3 p-3">
            <label for="">Latitude</label>
            <div class="col-md-12">
              <input  class="w-100 input-group-text" type="number" name=""  formControlName="latitude"/>
            </div>
          </div>
          <div class="col-md-6 mb-3 p-3">
            <label for="">Pacer</label>
            <div class="col-md-12">
              <select class="form-select" aria-label="Default select example"  formControlName="placer">
                <option selected>Open this select menu</option>
                <option value="Abidjan">Abidjan</option>
                <option value="Dabou">Dabou</option>
                <option value="Divo">Divo</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 justify-content-start"><button type="submit" class="btn btn-secondary w-80"> Annuler</button></div>
 
    <div class="col-md-6 d-flex justify-content-end"><button type="submit" class="btn btn-primary w-80" (click)="creerEntrepot()">registrer</button></div>
          </div>
        </div>
      </form>
    </div>
  </div>
</app-menu>
